<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ucc.ctc"
    android:versionCode="1"
    android:versionName="12.4.0.0">

    <application
        android:name="com.ucc.ctc.multibiometric.BiometricApplication"
        package="com.ucc.ctc"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_neurotechnology_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:name">

        <activity
            android:name=".views.EnrollFingerFromScanner"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.LoginFacilityActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.WelcomePageActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Common -->
        <activity android:name="com.ucc.ctc.app.InfoActivity" />
        <activity android:name="com.ucc.ctc.app.DirectoryViewer" /> <!-- Licensing -->
        <activity
            android:name="com.neurotec.licensing.gui.ActivationActivity"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".views.FingerClientActivity"
            android:hardwareAccelerated="true"
            android:label="@string/finger_app_name"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".views.ClientFingerPrintActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.CTCEnrollmentActivity"
            android:exported="false"
            android:parentActivityName=".views.ClientProfileActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.ClientDownloadMessageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.DownloadClientDataActivity"
            android:exported="false"
            android:parentActivityName=".views.DeviceSettingActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
 LoginFacilityActivity
		<activity
			android:name=".views.MenuDrawerAdmin"
			android:label="@string/voice_app_name"
			android:screenOrientation="portrait"
			android:hardwareAccelerated="true">
		</activity>
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".views.FacilityPageActivity"
            android:label="Facility Update"
            android:parentActivityName=".views.DeviceSettingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.ClientActivity"
            android:label="@string/app_name"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ClientProfileActivity"
            android:label="Client Profile"
            android:parentActivityName=".views.ClientActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.FacilitySettingActivity"
            android:label="@string/facility_setting"
            android:parentActivityName=".views.LoginFacilityActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.FacilityConfirmationPageActivity"
            android:label="@string/facility_confirmation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.UserProfileActivity"
            android:label="User Profile Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ClientMainActivity"
            android:label="Client main Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".utils.AddEditClientActivity"
            android:label="Client Registration"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.ClientCreateActivity"
            android:label="Client Registration"
            android:parentActivityName=".views.ClientActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.ClientPhysicalAddressActivity"
            android:label="Client Physical Address"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.ClientPhysicalAddressActivityUpdate"
            android:label="Client Physical Address"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.ClientTreatmentSupporterActivity"
            android:label="Client Treatment Supporter"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.FingerActivity"
            android:label="Client Finger"
            android:parentActivityName=".views.ClientActivity"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".views.LicenseActivationActivity"
            android:label="Biometry Setting"
            android:parentActivityName=".views.DeviceSettingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.DeviceSettingActivity"
            android:label="Device Setting"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme" />

         <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        android:maxSdkVersion="22" />

</manifest>